.carousel .slide .carousel-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:300px;
}

.carousel .slide .carousel-image{
    width:200px;
    margin:20px;
}
.carousel .slide .carousel-description{
    font-weight: 500;
    font-size:20px;    
}
.carousel.carousel-slider .slide{
    background-color: transparent;
    height:400px;
}